#toolbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 10px;
  z-index: 9999;
}
  
#editor {
  border: 1px solid black;
  height: fit-content;
  padding: 5px;
  max-height: 300px;  
  overflow: auto;
}

#modified {
  border: 1px solid black;
  height: fit-content;
  padding: 5px;
  max-height: 300px;  
  overflow: auto;
}
#external {
  display: flex;
  justify-content: right;
  margin-top: 25px;
}