<!DOCTYPE html>
<html>
<head>
  <title>Text editor</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <div id="toolbar">
      <button onclick="toggleBold()" id="boldButton">Bold</button>
      <button onclick="toggleItalic()" id="italicButton">Italic</button>
      <button onclick="toggleUnderline()" id="underlineButton">Underline</button>
      <button onclick="increaseFontSize()" id="increaseButton">Increase font size</button>
      <button onclick="decreaseFontSize()" id="decreaseButton">Decrease font size</button>
      <button onclick="centerText()" id="centerButton">Center</button>
      <button id="generatePdfBtn">Save as PDF</button>
      <button id="paraphrase">Paraphrase</button>
      <button onclick="window.open('static/locked.png')">???</button><br/>
      
  </div><br/>
  <div id="external">
      <input type="file" id="pdfInput">
      <button id="uploadPdf">PDF to text</button><br/>
      
  </div>
  <div id="editor" contenteditable="true"></div><br/><br/><hr size=5 color=black><br/><br/>
  <div id="modified" contenteditable="true"></div>
  <script src="static/scripts.js"></script>
</body>
</html>
